{% extends "common/bacsi/base.html" %}
{% block title %} Bác Sĩ | Lịch sử khám {% endblock %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Table</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Lịch sử khám</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block contents %}
<div class="container-fluid mt--6">
  <div class="col">
    <div class="col-xl-2 order-xl-2"></div>
    <div class="col-xl-10 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Thông tin</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="#">
            <h6 class="heading-small text-muted mb-4">Thông tin bệnh nhân</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Mã Bệnh Nhân</label>
                    <input type="text" name="mabn" value="{{ dsthongtin.mabn }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Tên Bệnh Nhân</label>
                    <input type="text" name="hoten" value="{{ dsthongtin.hoten }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Giới Tính</label>
                    <input type="text" name="gioitinh"
                      value="{% if dsthongtin.gioitinh==1 %} Nam {% else %} Nữ {% endif %}" readonly="readonly"
                      id="disabled" class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Năm sinh</label>
                    <input type="text" name="namsinh" value="{{ dsthongtin.namsinh }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Số điện thoại</label>
                    <input type="text" name="sdt" value="{{ dsthongtin.sdt }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">CMND</label>
                    <input type="text" name="cmnd" value="{{ dsthongtin.cmnd }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Địa chỉ</label>
                    <input type="text" name="diachi" value="{{ dsthongtin.diachi }}" readonly="readonly" id="disabled"
                      class="form-control" placeholder="Chưa lấy được mã toa" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-10 order-xl-1">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Lịch sử khám</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="tenthuoc">Mã Phiếu Khám</th>
                <th scope="col" class="sort" data-sort="soluong">Ngày Khám</th>
                <th scope="col" class="sort" data-sort="cachdung">Triệu Chứng</th>
                <th scope="col" class="sort" data-sort="dongia">Loại Bệnh</th>
              </tr>
            </thead>
            <tbody class="list">
              {% if dschitiet != none %}
              {% for p in dschitiet.items %}
              <tr>
                <td class="budget">{{p.mapk}}</td>
                <td class="budget">{{p.ngaykham}}</td>
                <td class="budget">{{p.trieuchung}}</td>
                <td class="budget">{{p.loaibenh}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
        {% if dschitiet != none %}
        <div class="card-footer py-4">
          <nav aria-label="static.">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item {% if not dschitiet.has_prev %} disabled {% endif %}">
                <a class="page-link"
                  href="{{url_for('bacsi.bacsi_lichsukham', page = dschitiet.prev_num, mabn = dsthongtin.mabn)}}">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% for page_number in
              dschitiet.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=2) %}
              {% if page_number %}
              <li class="page-item {% if page_number==dschitiet.page %} active {% endif %}">
                <a class="page-link"
                  href="{{url_for('bacsi.bacsi_lichsukham', page = page_number,mabn = dsthongtin.mabn)}}">{{page_number}}</a>
              </li>
              {% endif %}
              {% endfor %}
              <li class="page-item {% if not dschitiet.has_next %} disabled {% endif %}">
                <a class="page-link"
                  href="{{url_for('bacsi.bacsi_lichsukham', page = dschitiet.next_num,mabn = dsthongtin.mabn)}}">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-4">
        <div class="float-right">
          <a href="{{url_for('bacsi.bacsi_danhsachbenhnhan')}}" class="btn btn-dark">Trở về</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
{% endblock %}