<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="
      container
      d-flex
      align-items-center
      justify-content-center justify-content-md-between
    ">
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> Thứ 2 - Thứ 7, 8AM to 16PM
    </div>
    <div class="d-flex align-items-center">
      <i class="bi bi-phone"></i> Gọi cho chúng tôi 0333333333
    </div>
  </div>
</div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="home" class="logo me-auto"><img src="static/assets/img/logo.png" alt="" /></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="home">Home</a></li>
        <li><a class="nav-link scrollto" href="{{url_for('user.user_logout')}}">Đăng Xuất</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>
<!-- End Header -->